<div class="main-wrap">
    <h2>Our beloved guides</h2>
    <div class="container guides">
      <div class="row">
        <div class="col s6">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../assets/images/guide.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Bear Grills<i class="material-icons right">more_vert</i></span>
                <p><a href="#">Check Bear's tours</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Detailed information<i class="material-icons right">close</i></span>
                <p>Bear is fucking crazy, he doesn't care, climbs over the mountains and eats snakes alive</p>
              </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../assets/images/guide-2.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Paul Kalkbrenner<i class="material-icons right">more_vert</i></span>
                <p><a href="#">Check Paul's tours</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Detailed information<i class="material-icons right">close</i></span>
                <p>Paul lives nightlife, he is good for people who love to get fucked up and die with overdose.</p>
              </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../assets/images/guide-2.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Paul Kalkbrenner<i class="material-icons right">more_vert</i></span>
                <p><a href="#">Check Paul's tours</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Detailed information<i class="material-icons right">close</i></span>
                <p>Paul lives nightlife, he is good for people who love to get fucked up and die with overdose.</p>
              </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../assets/images/guide-2.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Paul Kalkbrenner<i class="material-icons right">more_vert</i></span>
                <p><a href="#">Check Paul's tours</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Detailed information<i class="material-icons right">close</i></span>
                <p>Paul lives nightlife, he is good for people who love to get fucked up and die with overdose.</p>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>