.about-us-wrap {
    padding-top: 10rem;
}
.left-half {
    background:rgba(255,255,255,0.25);
    text-align: center;
    padding-right:3rem;
}
.right-half {
    
    img {
        width: 100%;
    }
}


.fancy {
    line-height: 0.5;
    color: #26a69a;
}
.fancy span {
    display: inline-block;
    position: relative;  
    
  }
.fancy span:before,
.fancy span:after {
content: "";
position: absolute;
height: 5px;
border-bottom: 1px solid #26a69a;
border-top: 1px solid #26a69a;
top: 0;
width: 2rem;
}
.fancy span:before {
right: 100%;
margin-right: 15px;
}
.fancy span:after {
left: 100%;
margin-left: 15px;
}