nav {
    position:fixed;
    background: rgba(0,0,0, .2);
    z-index: 999;
}
.logo {
    display: flex;
    align-items: center;
    height: 100%;
    align-self: center;
    img {
        height: 4rem;
    }
}
.container {
    display: flex;
}
.main-menu, .sidenav-trigger {
    margin-left: auto;
}
.side-nav {
    left:300px;
    padding: 2rem;
}


