.tours {
    padding-top:15rem;
}
.tour-box {
    cursor: pointer;
    position: relative;
    height:500px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index:-1;
    }
    .text {
        position: absolute;
        bottom:0;
        background:rgba(0,0,0, .3);
        color: white;
        padding:1rem;
        width: 100%;
    }
    .special-offer {
        position: absolute;
        left:50%;
        transform: translate(-50%);
        color:white;
        font-weight: bold;
        border-radius: 0 0 5px 5px;
        top:0;
        width: 100px;
        background: #d32f2f;
        text-align:center;
    }
}