<div class="main-wrap">
  <h2>Tours</h2>
  <div class="container tours">
    <div class="row">
      <div class="col s4">
        <div class="tour-box hoverable">
          <div class="special-offer">
            <h6>Best Deal!</h6>
            <h6>25% OFF</h6>
          </div>
          <img src="../../assets/images/about-us-small-2.jpg" alt="tour">
          <div class="text">
            <h5>Kakheti</h5>
            <h6>Visit the home of wine</h6>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="tour-box hoverable">
          <img src="../../assets/images/about-us-small-2.jpg" alt="tour">
          <div class="text">
            <h5>Kakheti</h5>
            <h6>Visit the home of wine</h6>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="tour-box hoverable">
          <img src="../../assets/images/about-us-small-2.jpg" alt="tour">
          <div class="text">
            <h5>Kakheti</h5>
            <h6>Visit the home of wine</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>