.destination-block {
    position: absolute;
    right:0;
    bottom:20vh;
    text-align:right;
    .group {
        position:relative;
    }
    input {
        padding: 0 2.5rem;
        width: 180px;
        &::placeholder {
            color: lightgray;
        }
    }
    input:focus {
        & ~ i, &::placeholder {
            color: white;
        }
    }
    i {
        top:10px;
        position: absolute;
        color: lightgray;
        transition: 0.2s ease all;
        cursor: pointer;
        &.search {
            left:10px;
        }
        &.close {
            right:3px;
        }
    }
}