<div class="main-wrap">
  <section class="image-wrap">
    <img src="../../assets/images/cover-1.jpg" alt="cover">
    <h2>Your journey begins here!</h2>
    <div class="container relative">
      <div class="destination-block">
        <h4>Mtskheta-Mtianeti,</h4>
        <h3>Gudauri</h3>
        <form>
          <div class="form-row">
              <div class="group">      
                  <input type="search" id="search" required placeholder="Find a tour">
                  <i class="material-icons search" for="search">search</i>
                  <i class="material-icons close" for="search">close</i>
              </div>
            </div>
        </form>
      </div>
    </div>
  </section>
</div>